PORT=8787
CLIENT_BASE_URL=http://127.0.0.1:5173
APP_BASE_URL=http://127.0.0.1:8787
PAYPAL_ENV=sandbox
PAYPAL_CLIENT_ID=coloque_seu_client_id_aqui
PAYPAL_CLIENT_SECRET=coloque_seu_client_secret_aqui
PAYPAL_WEBHOOK_ID=coloque_o_webhook_id_aqui
VITE_API_BASE_URL=http://127.0.0.1:8787
OWNER_EMAIL=arcadecooficial@gmail.com
OWNER_PASSWORD=troque_esta_senha
ADMIN_SESSION_SECRET=gere_um_texto_longo_aleatorio
MERCADO_PAGO_ACCESS_TOKEN=coloque_o_access_token_aqui
MERCADO_PAGO_PUBLIC_KEY=coloque_a_public_key_aqui
